.no-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0 0 0 ;
}

  //.wrapper-all {
  //
  //
  //    background: #ffffff;
  //    max-width: 1150px;
  //    width: 100%;
  //    margin: 0 auto;
  //  border-radius: 10px;
  //
  //}

.no-items__heading {
  font-size: 40px;
}

.no-items__menu {
  display: flex;
  justify-content: center;
}

.no-items__menu > * {
  text-decoration: none;
  color: #000000;
  border: 1px solid #cccccc;
  padding: 10px 20px;
  border-radius: 10px;

  &:hover {
    color: #c8102e;
  }
}


//.total {
//  border: 1px solid black;
//  max-width: 1150px;
//  width: 100%;
//  //padding-left: 15px;
//  //padding-right: 15px;
//  padding: 40px 15px;
//  background: #fff;
//  border-radius: 0.4rem;
//  margin: 50px auto 0;
//}
//
//.total-content {
//  display: flex;
//  justify-content: space-around;
//  align-items: center;
//
//  .total-price {
//    font-size: 30px;
//  }
//}
//
//.cart-heading {
//  margin-left : 30px;
//  font-size: 25px;
//}
//
//.cart-title {
//
//  padding-top: 15px;
//  //padding-bottom: 15px;
//  //margin-bottom : 40px;
//
//}

.main-wrapper {
    max-width: 1300px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 10px;
    display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.container-title {
  //grid-area: center;
}

.cart-heading {
  font-size: 24px;
}

.properties {

}

.total-content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proceed {
  border: none;
  background: #313131;
  color: #ffffff;
  padding: 10px 15px;
}

.summary {
  font-size: 24px;
}

.total-price {
  font-size: 20px;
}