

.wrapper {
  max-width: 1150px;
  width: 100%;
  //padding-left: 15px;
  //padding-right: 15px;
  padding: 40px 15px;
  background: #fff;
  border-radius: 0.4rem;
  margin: 50px auto 0;
}

.cart {

}

.cart-item {
  height: 400px;
  width: 180px;
  margin: 0 0 0 50px;

}

.item-image {
  width: 235px;
}

.cart {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  align-items: center;
}

.price {
  font-size: 27px;
}

.right-side {
  display: flex;
  align-items: center;
  flex-direction: column;
}