.name {
  font-size: 16px;
}

.alert {
  background: #ffffff;
  position: relative;
  top:100px;

}

.description {
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.block {
  height: 455px;
  width: 235px;
  background: #fff;
}

.content {
  padding-left: 13px;
  padding-right: 13px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0 20px 0;
}

.food-img {
  width: 235px;
}

.price {
  font-weight: bold;
}