
.navbarWrapper {
  background: #fff;
  border-bottom: 1px solid #e9ebee;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ulist {
  display: flex;
  list-style: none;
  gap: 15px;
}

.menu {
  color: #c8102e;
}

li {
  cursor: pointer;

  &:hover {
    color: #c8102e;

  }
}

.menu-link {
  text-decoration: none;
  color: #c8102e;
}

h1 {
  font-size: 12px;
  margin-right: 15px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart {
  text-decoration: none;
  color: #000;
}

.cart-img {
  width: 20px;
}

.cart-components {
  display: flex;
  align-items: center;
}

.dummy-link {
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #c8102e;

  }
}